@model IEnumerable<OnlineBusTransportation.Models.Buses>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of all Buses seats information</h1>


<button type="button" style="float:right;" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Buses")'">Add New Bus</button>

@* <a asp-action="Create">Add New Bus</a>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>Seats Booking Information</th>
           

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="ShowBookedSeats" asp-route-id="@item.ID">Seats Booked</a>
            </td>
            
        </tr>
        }
    </tbody>
</table>
