@model IEnumerable<OnlineBusTransportation.Models.ShowBookingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Your Bookings</h3>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                Departure Date Time
            </th>

            <th>
               Booked Seats
            </th>

            <th>
                Price
            </th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusNumber)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datetime)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    <a asp-action="CancelBooking" asp-controller="Customer" asp-route-businfoid="@item.BusInfoID" asp-route-bookingid="@item.BookingID">Cancel Booking</a>
                </td>
              

            </tr>
        }
    </tbody>
</table>
